*{
    margin:0;
    padding:0;
}

h3 {
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;;
    color: #C7D9FF;
}

header{
   position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #6F67BC;
   
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap:90px;
}

.header-nav {
    padding: 10px;
}

.down-header {
background-color: none;
 background-color: #C7D9FF; 
}